@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

.footerContent {
    color: hsl(160, 100%, 50%);
    /* font-family: 'Poppins',sans-serif; */
    font-family: 'Ubuntu Mono', monospace
}

.getStarted {
    padding-top: 10px;
    font-family: 'Silkscreen', cursive;
    /* padding-bottom: 0px; */
}

.about {
    text-decoration: underline #0078AA;
    font-size: 1.8em;
    font-weight: bolder;
}


hr {
    border: 0;
    height: 2px;
    margin: 1.5%;
    /* color: greenyellow; */
    background-image: linear-gradient(to right, rgba(96, 235, 161, 0), rgba(59, 255, 163, 0.934), rgba(102, 235, 111, 0));
}

.aboutSection { 
    /* padding-left: 200px; */
    font-weight: bold;
    font-size: medium;
    /* padding-left: 10%; */
    text-align: center;
}

.contentPoint {
    padding: 7px;
}

.gLink {
    color: white;
    font-size: large;
}

.varun {
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    font-size: larger;
    text-decoration: underline 1px #0078AA;
}

.randomText {
    font-family: 'Poppins',
    sans-serif;
    /* font-weight: bolder; */
    font-size: large;
    /* text-decoration: underline 1px white; */
}

.splitterSpan {
    display: inline-block;
    height: 20px;
    background-color: white;
    width: 2px;
    margin-left: 2%;
    margin-right: 2%;
    font-size: large;
    /* -right: 5%; */
    /* padding-left: 5%; */
}

.randomArr {
    /* color:#0078AA; */
    text-decoration: underline white;
}

@media (max-width: 450px) {
    .githubRepo {
        display: block;
    }

    .getStarted {
        font-size: 10px;
    }

    .randomArr {
        font-size: 10px;
    }
}

@media (max-width: 555px) {
    .getStarted {
        font-size: 13px;
    }
}
