.arrayContainer {
    /* margin: 2px auto; */
    padding-top: 0px;
    /* transition: 2s; */
    /* position: fixed; */
    /* overflow-x: auto; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 30px;
}

.arrayElement {
    background-color: gainsboro;
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;
    width: 30px;
    transition: 0.2s;
    border-right: 10px solid white;
    /* border-radius: 10%; */
}

.dummyDiv {
    height: 250px;
    width: 1px;
    background-color: #252839;
    display: inline-block;
}

@media (max-width: 810px) {
.arrayElement {
    border-right: 5px solid white;
 }
}

@media (max-width: 370px) {
.arrayElement {
    border-right: 2px solid white;
}
}