.arrayContainer {
    /* margin: 2px auto; */
    padding-top: 50px;
}

.arrayElement {
    background-color: gainsboro;
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;
    width: 15px;
    transition: 0.2s;
}

