h1 {
  font-family: 'Poppins', sans-serif;
  /* text-shadow: 0 0 6px white; */
   /* -webkit-text-stroke: 1px red; */
   /* -webkit-text-stroke-right: ; */
   /* font-family: arial; */
   font-size: 2em;
   /* padding-top: 30px; */
}

body {
  /* transform: scale(0.89); */
  /* transition: 0.7s; */
  background-color: #252839;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: 'Ubuntu Mono',monospace;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading {
  /* position: relative; */
  color: #00FFAB;
  cursor: pointer;
  /* display: flex; */

}

.stats {
  font-family: 'Ubuntu Mono', monospace;
  color: #00FFAB;
  padding-bottom: 30px;
}

.statElement {
  /* padding: 50px; */
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  padding-left: 2%;
  padding-right: 2%;
}

.statNumber {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}


/* < !-- HTML !--><button class="button-3"role="button">Button 3</button> */

/* CSS */
button {
  appearance: none;
  background-color: #00FFAB;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #2A0944;
  cursor: pointer;
  display: inline-block;
  /* font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; */
  font-family: 'Poppins',sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  transition: 0.5s;
  margin: 30px 35px;
}

button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

button:hover {
  background-color: #1C3879;
  color:#00FFAB;
}

button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

button:active {
  /* background-color: #298e46; */
  /* animation: bounce 0.5s linear; */
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.slideBarLabel {
  color: #00FFAB;
  font-size: 20px;
  font-weight: bold;
}

.sliderComponent {
  padding: 20px;
}

.slidecontainer {
  width: 100%;
  padding-left: 30px;
  padding-right: 70px;
  /* display: inline-block; */
  /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 200px;
  /* Full-width */
  height: 20px;
  /* Specified height */
  background: white;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #00FFAB;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #00FFAB;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}


.arrayElement:hover{
  background-color: white;
  animation: bounce 0.5s linear;
  /* transform: scale(1.11,9.11); */
  /* transition: 2s; */
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }

  40% {
    transform: translateY(0px);
  }

  60%{
    transform: translateY(-3px);
  }
  80%{
    transform: translateY(0px);
  }
}


/* Media queries */

@media (max-width: 980px){
  button {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media (max-width: 780px) {
  button {
    margin-right: 5px;
    margin-left: 5px;
    padding: 4px 6px;
    margin-bottom: 5px;
    margin-top: 5px;

  }

  .mainButtons {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .slidecontainer {
    display: flex;
    align-items: center;
    padding: 2%;
    justify-content: center;
      /* width: 50%; */
      /* padding-left: 10px; */
      /* padding-right: 20px; */
  }
}

@media (max-width: 430px) {
  .stats {
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .statElement {
    padding-left: 4px;
    padding-right: 4px;
  }

  .statNumber{
    font-size: 1em;
  }
}

@media (max-width: 430px) {
  h1 {
    font-size: 1.5em;
    padding-bottom: 7px;
    /* padding-top: 20px; */
  }
}

@media (max-width: 600px) {
  h1 {
    /* font-size: 1.5em; */
    /* padding-bottom: 7px; */
    padding-top: 30px;
  }
}




